/* .nkg-render-mode .entry-content > pre + * {
	border: 8px dashed deeppink;
	min-height: 100px;
	position: relative;
}

.nkg-render-mode .entry-content > pre + *:before {
	content: "Right-Click Here and click 'Inspect'";
} */

code {
	display: block;
	white-space: pre-line;
}

hr {
	margin: 60px 0;
}
